langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
ctransformers
huggingface-hub
pypdf
python-dotenv
replicate
docx2txt
googletrans==4.0.0-rc1
langid
langchain
google-generativeai
langchain-google-genai
chromadb
